<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../dist/css/bootstrap.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>
<body class="login-body">

<div class="container">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6 col-md-offset-4 col-md-4">
            <div class="panel box-shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <img class="center-block img-responsive" src="../dist/images/logo-dark-small.png" />
                    </h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <div class="left-inner-addon-lg">
                                        <i class="fa fa-user fa-2x icon-grey "></i>
                                        <input type="text" class="input-lg form-control" placeholder="Username" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <div class="left-inner-addon-lg">
                                        <i class="fa fa-lock fa-2x icon-grey"></i>
                                        <input type="password" class="input-lg form-control" placeholder="Password"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="">
                                            Stay logged in
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <small>Don't have an account? Register <a href="#">here</a>.</small>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>